@model IEnumerable<AOWebApp.Models.Item>

@{
    ViewData["Title"] = "Shop Items";
}

<div class="bg-light py-3 mb-4 text-center">
    <h2 class="mb-0">@ViewData["Title"]</h2>
</div>

<a asp-action="Create" class="btn btn-outline-primary">Create New</a>

<br/>
<br/>
<form method="post" asp-controller="Items" asp-action="Index" class="mb-3">
    <div class="row g-2 align-items-center">
        <div class="col-auto">
            <label for="searchText" class="col-form-label">Item Search</label>
        </div>
        <div class="col">
            <input type="text"
                   id="searchText"
                   name="searchText"
                   value="@ViewBag.searchText"
                   class="form-control"
                   maxlength="100"
                   placeholder="Type here..."
                   title="Search by item name. Max 100 chars." />
        </div>
        <div class="col-auto">
            <select name="category" class="form-select" asp-items="ViewBag.Categories"
                    title="View items for a specific category">
                <option value="">All Categories...</option>
            </select>
        </div>

    </div>

    <div class="mt-2">
        <input type="submit" class="btn btn-outline-primary" value="Submit" />
        <a asp-action="Index" class="btn btn-outline-danger">Reset</a>
    </div>
</form>

<br/>
<br/>

<div class="container"> 
    <div class="row row-cols-3 small">
        @foreach (var item in Model)
        {
            <div class="col card container-sm" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@item.ItemName</h5>
                    <p class="card-text">
                        @(item.ItemDescription.Length > 100
                            ? item.ItemDescription.Substring(0, 100).Trim() + "..."
                            : item.ItemDescription)
                    </p>
                    <p class="card-text">Cost: @item.ItemCost.ToString("C")</p>
                    <img src="@item.ItemImage" class="card-img-bottom" alt="@item.ItemName">
                    <br />
                    <br />
                    <a asp-controller="Items" asp-action="Details" asp-route-id="@item.ItemId"
                       class="btn btn-outline-primary">
                        View Item Detail
                    </a>

                </div>
            </div>

        }

    </div>


</div>
