@model IEnumerable<AOWebApp.Models.Customer>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text text-center">Customers</h2>


<form asp-action="Index" asp-controller="Customers" class="row form-group">
    <div class="col-3">
        <input type="text" name="SearchText" class="form-control" placeholder="Customer Name..." />
    </div>
    <div class="col-3">
        <select name="Suburb" class="form-control" asp-items="@ViewBag.SuburbList">
            <option value="">All Suburbs...</option>
        </select>
    </div>
    <div class="col">
        <button type="submit" class="btn btn-outline-primary">Search</button>
        <a asp-action="Create" class="btn btn-outline-success">Create New</a>
    </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address.AddressId)
                </td>
            </tr>
        }
    </tbody>
</table>

